USE [master]
GO
/****** Object:  Database [NatalidadBogota]    Script Date: 21/09/2025 12:16:28 p. m. ******/
CREATE DATABASE [NatalidadBogota]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'NatalidadBogota', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SEVIDORSQL\MSSQL\DATA\NatalidadBogota.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'NatalidadBogota_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SEVIDORSQL\MSSQL\DATA\NatalidadBogota_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [NatalidadBogota].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [NatalidadBogota]
GO
/****** Object:  Table [dbo].[fact_natalidadBogota]    Script Date: 21/09/2025 12:16:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fact_natalidadBogota](
	[natalidad_id] [int] IDENTITY(1,1) NOT NULL,
	[anio] [date] NOT NULL,
	[localidad_madre] [int] NOT NULL,
	[edad_madre] [int] NOT NULL,
	[sexo] [int] NOT NULL,
	[regimen_seguridad] [int] NOT NULL,
	[total_nacidos] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[natalidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vwTasaNataliad]    Script Date: 21/09/2025 12:16:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[vwTasaNataliad]
as


select 
	year(anio) año
	,sum(total_nacidos) total_nacidos
  FROM [NatalidadBogota].[dbo].[fact_natalidadBogota]
group by anio
GO
/****** Object:  Table [dbo].[localidad]    Script Date: 21/09/2025 12:16:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[localidad](
	[localidad_id] [int] IDENTITY(1,1) NOT NULL,
	[localidad_n] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[localidad_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regimen_ss]    Script Date: 21/09/2025 12:16:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regimen_ss](
	[regimen_id] [int] IDENTITY(1,1) NOT NULL,
	[regimen_n] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[regimen_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sexo]    Script Date: 21/09/2025 12:16:29 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexo](
	[sexo_id] [int] IDENTITY(1,1) NOT NULL,
	[sexo_n] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[sexo_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[fact_natalidadBogota]  WITH CHECK ADD  CONSTRAINT [fk_localidad] FOREIGN KEY([localidad_madre])
REFERENCES [dbo].[localidad] ([localidad_id])
GO
ALTER TABLE [dbo].[fact_natalidadBogota] CHECK CONSTRAINT [fk_localidad]
GO
ALTER TABLE [dbo].[fact_natalidadBogota]  WITH CHECK ADD  CONSTRAINT [fk_regimen_ss] FOREIGN KEY([regimen_seguridad])
REFERENCES [dbo].[regimen_ss] ([regimen_id])
GO
ALTER TABLE [dbo].[fact_natalidadBogota] CHECK CONSTRAINT [fk_regimen_ss]
GO
ALTER TABLE [dbo].[fact_natalidadBogota]  WITH CHECK ADD  CONSTRAINT [fk_sexo] FOREIGN KEY([sexo])
REFERENCES [dbo].[sexo] ([sexo_id])
GO
ALTER TABLE [dbo].[fact_natalidadBogota] CHECK CONSTRAINT [fk_sexo]
GO
USE [master]
GO
